certifi==2022.12.7
charset-normalizer==2.1.1
diffusers==0.10.2
filelock==3.8.2
huggingface-hub==0.11.1
idna==3.4
importlib-metadata==5.2.0
numpy==1.24.0
packaging==22.0
Pillow==9.3.0
PyYAML==6.0
regex==2022.10.31
requests==2.28.1
torch==1.13.1
tqdm==4.64.1
typing_extensions==4.4.0
urllib3==1.26.13
zipp==3.11.0
